@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background-color: #9bbc0f;
  color: #0f380f;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.square {
  width: 80px;
  height: 80px;
  background-color: #c4f0c5;
  border: 4px solid #0a0a0a;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
}

.square:hover {
  transform: scale(1.1);
}

.winner-box {
  background-color: #c4f0c5;
  color: #0a0a0a;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  border: 4px double #0a0a0a;
  padding: 15px;
  margin: 30px auto 10px;
  width: fit-content;
  max-width: 90%;
  box-shadow: 0px 0px 0px 4px #0a0a0a;
  animation: popup 0.3s ease-out;
}

button {
  background-color: #306230;
  color: #c4f0c5;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  padding: 10px 20px;
  border: 4px solid #0a0a0a;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #0f380f;
}

@keyframes popup {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

img {
  image-rendering: pixelated;
  width: 60px;
  height: auto;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}